.about {
  font-family: "Raleway", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  text-decoration: bold;
  text-align: center;
  padding: 20px;
  height: 20px;
}
@media only screen and (max-width: 620px) {
  .display-4 {
    font-size: 2.8rem;
  }
  .jumbotron {
    height: 240px;
  }
}
