* {
  margin: 0;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
}

ul {
  position: static;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 2px solid #d1d5da;
  margin-bottom: -1px;
  text-decoration: none;
}

li {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
  font-size: 25px;
  line-height: 1.5;
  color: black;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-weight: bolder;
}

li:hover {
  cursor: pointer;
  color: #24292e;
  border-bottom-color: #d1d5da;
  transition: 0.2s ease;
  text-decoration: none;
  /* border-bottom: 2.5px solid #d1d5da; */
}

.active {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
  text-decoration: none;
}

.active:hover {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 90px;
}
