.navbar {
  height: 120px;
}

.navbar a,
p {
  color: rgb(221, 231, 190);
  font-style: italic;
  font-size: 3rem;
  text-decoration: none;

  line-height: 1;
}

#search-form {
  width: 220px;
  float: "right";
}

.form-inline {
  color: rgb(210, 214, 198);
  font-style: italic;
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 0;
}

.searchalline {
  position: "right";
}

ul {
  list-style-type: none;
  padding: 0;
  float: right;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

img {
  margin: 09px;
  padding: 0%;
}
