.section {
  background: #8c8d8d;
  padding: 5px;
  width: 1860px;
}

.section p{
  font-size: large;
}

.section h2 {
  text-align: center;
  color: brown;
}
/* CSS fro 4 images */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  
}


.row::after {
  content: "";
  clear: both;
  display: table;
  padding : 0px ;
}
/* End of CSS fro 4 images */