/* p {
  margin: 0px 0px 8px;
}
.th {
  padding: 0px 0px 0px 0px;
  max-width: 50%;
}
.card-body {
  padding: 0px 0px 0px 0px;
}
.card-title {
  margin: 0 0 12px 3px;
}
.card {
  margin: 0px 0px 0px 0px;
} */
