/* html {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(../assets/bgImg.jpg);
  background-size: contain;
  width: 100%;
} */

.Yelp {
  display: grid;
  grid-template-areas:
    "header header header header"
    "searchForm searchForm searchForm searchForm"
    "gallery gallery gallery gallery"
    "footer footer footer footer";
  margin: 3rem;
}
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

@import "../styles/SearchForm.css";
@import "../styles/restaurantList.css";

/* @import "../styles/Yelp.css"; */
